* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 99vw;
}

.submit {
  margin: 10px;
  border-radius: 3px;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
}

.searchbar {
  border-radius: 10px;
  border: 1px solid grey;
}

.head {
  margin: 15px;
}